.experiment-protein-container {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    width: 100%;
    padding: var(--padding);
    box-sizing: border-box; 
}

.experiment-protein-container table {
    width: 100%;
    max-width: 1200px;
    border-collapse: collapse;
    margin-top: var(--margin); 
    font-family: var(--font-family-base);
    text-align: center;
  }
  
  .experiment-protein-container th {
    padding: var(--padding); 
    text-align: center;
    background-color: var(--bg-color); ;
    border-bottom: var(--border-bottom); 
  }
  
  /* Table row styling */
  .experiment-protein-container td {
    padding: var(--padding); 
    border-bottom: var(--border-bottom); 
    vertical-align: middle;
  }

.experiment-metadata-container {
    font-family: 'Raleway', sans-serif;
    margin: 20px auto;
    padding: var(--padding); 
    max-width: 800px;
    border: var(--border); 
    border-radius: var(--border-radius); 
    background-color: var(--bg-color); ;
}

.experiment-header {
    text-align: center;
    margin-bottom: var(--margin-bottom); 
    border-bottom: var(--border-bottom); 
    padding-bottom: var(--padding); 
}

.experiment-header h1 {
    font-size: var(--font-size-header); 
    margin-top: var(--margin-top); 
}

.metadata-section {
    margin-top: var(--margin-top); 
    margin-bottom: var(--margin-bottom); 
    margin-left: var(--margin-left); 
    margin-right: var(--margin-right); 
}

.metadata-section h2 {
    font-size: var(--font-size-header); 
    border-bottom: var(--border-bottom); 
    margin-bottom: var(--margin-bottom); 
    padding-bottom: var(--padding); 
}

.metadata-field {
    margin-top: var(--margin-top); 
    margin-bottom: var(--margin-bottom); 
    margin-left: var(--margin-left); 
    margin-right: var(--margin-right); 
    line-height: 1.5;
}


.download-section {
    text-align: center;
    margin-top: var(--margin-top); 
}

.download-button {
    background-color: var(--main-color); 
    color: var(--bg-color); ;
    padding: 10px 20px;
    border: none;
    border-radius: var(--border-radius); 
    cursor: pointer;
    transition: background-color 0.3s;
}

.download-button:hover {
    background-color: var(--main-color); 
}

.experiment-volcano-plots-wrapper {
    width: 100%;
    max-width: var(--volcano-plots-max-width);
    margin: 0 auto;
}

.significant-protein-cell-center {
    text-align: center;
}

.significant-protein-cell-left {
    text-align: left;
}

.significant-proteins-summary {
    margin-top: var(--margin-top);
    text-align: center;
}

.show-all-link-button {
    border: none;
    background: none;
    padding: 0;
    color: var(--main-color);
    text-decoration: underline;
    cursor: pointer;
    font: inherit;
}

.show-all-link-button:hover {
    color: var(--text-color-header);
}
