body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

.landing-page {
 /* height: 100%;*/
  line-height: 1.8;
}

.dspa-background-white {
  background-color: white;
  height: 70vh;
  width: 100%;
}

/* CSS for normal view */
.app {
  transition: filter 0.3s;
}

/* CSS for blurred view */
.blur {
  filter: blur(5px); /* Adjust the px value to increase or decrease the blur */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  color: transparent; /* Makes text transparent */
  pointer-events: none; /* Disables interaction with elements */
}

:root {
  --bg-color: #ffffff; 
  --select-color: #b7a6b5;
  --shading-color: #ddd5dc;  
  --shading-color-hover: #b7a6b5;                  
  --text-color: #2a222a;
  --text-color-header: #634f61; /*  #0A2F59;  */
  --text-color-sub-header: #50424f; 
  --main-color: #634f61;       
  --line-color: #b7a6b5;     /* Universal border/line color */
  --font-size-base: 15px; 
  --font-size-header: 22px; 
  --font-size-small-header: 20px;        
  --font-family-base: 'Raleway', sans-serif;
  --border-color: #b7a6b5;   
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  --box-shadow-selected: 0 2px 4px rgba(0, 0, 0, 0.3);
  --border-radius: 4px;
  --border:  1px solid var(--border-color);
  --padding: 8px;
  --border-bottom: 1px solid var(--border-color);
  --margin-top: 15px;
  --margin-bottom: 10px;
  --margin-left: 0px;
  --margin-right: 0px;
  --gap: 15px;
  --volcano-plots-max-width: 100em;
  --transition: background-color 0.3s ease-in-out;
}


svg text {
  font-size: var(--font-size-base); 
  font-family: var(--font-family-base); 
  color:var(--text-color); 
}

html, body {
  font-size: var(--font-size-base); 
  font-family: 'Raleway','Arial', sans-serif; /* optional: set your desired font */
  color: var(--text-color); 
}

.html_tooltip{
  position: 'absolute';
  display: 'none';
  background-color: var(--bg-color); 
  border: 1px solid var(--border-color); 
  padding: '8px';
  color: var(--text-color); 
  font-size: var(--font-size-base); 
  pointer-events: 'none';
  z-index: 10;
  max-width: '250px';
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}